/*!
 * Extra footer style
 */

html, body {
	height: 100%;
}

#container {
    min-height: 100%;
	margin-bottom: -120px;
	position: relative;
}

.clear-footer-small {
	height: 100px;
	clear: both;
}
.clearfooter {
	height: 650px;
	clear: both;
}

#footer {
	background-color: #CCCCCC;
	position: relative;
	height: 120px;
	padding-top: 20px;
	text-align: center;
}

.ul-style {
    list-style: none;
	margin: 0;
	padding: 0;
} 

.li-style {
	margin: 0;
	padding: 15px;
	display: inline-block;
	white-space: nowrap;
} 
