<div class="body container">
    <h1>Author Information
    <h2>Name: Han-Hui Chiao
    <p>Description: I'm currently studying at University of Melbourne, for Master of Engineering in 
                    Distributed Computing. I have been fascinated by Haskell and is curious on building a
                    web site using the language.  My framework of choice was using Yesod dude to more resources to
                    reference from.  In the process, I've been pleasantly surprised on how easy it is
                    in achieve a high performance, dynamic and safe website.
    <div class="clearfooter">
