<div class="body container">
    <div class="table-style">
        <h1>How it works
            <h3>Expected return
            <p>The expected return of a stock is one aspect that an investor should consider. This tool solely focuses on how to culculate the expected return of its stock given the financial status of a company. Market potential, the management of the company, economy fluctuation and other issues are ignored in our model. We assume that the ROE(return on equity) of a company is fixed, if the company can't expand on its profit efficiently, it will pay dividend to maintain its ROE. Under this assumption, we can predict the profit and dividend payment of each year in the future with a fixed expected payout ratio. The expected return we culculate uses discounted cash flow model. We assume the dividends are paid once a year as much as we predict previously, and the stocks would be sold after certain amount of time of holding them, and the P/E(P/Earnings Per Share) of the stock would be 12.
            <p>In conclusion, the equation looks like this:
            <p>r - is the expected return we want to know.
            <p>p - is the current stock price.
            <p>eps(x) - is xth year's earning per share.
            <p>y - is the total years a investor intend to hold this stock.
            <p>payoutRatio - is expected payout ratio in the future of this stock.
            <img src="../static/img/equation.png" alt="">
        

    <div class="clearfooter">
