<div class="body container">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="../static/img/landscapeGreen.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <p class="lead">Start picking your stocks!
                        <a class="btn btn-large btn-primary" href="@{GettingStartedR}">Start!!!
            <div class="item">
                <img src="../static/img/landscapeOrange.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <p class="lead">words blah blah blah
                        <a class="btn btn-large btn-primary" href="#">link2
            <div class="item">
                <img src="../static/img/landscapeBlue.jpg" alt=""> 
                <div class="container">
                    <div class="carousel-caption">
                        <p class="lead">words blah blah blah
                        <a class="btn btn-large btn-primary" href="#">link3
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;

    <div class="row-fluid">
        <div class="news span8">
            <h3>Development news</h3>
                $maybe fs <- feeds
                    <table>
                        $forall (c,t) <- fs
                            <tr>
                                <td>#{c}
                                $maybe time <- t
                                    <td>#{prettyTime time}
                                $nothing
                                    <td>
                $nothing


        <div class="ranking-small span4">
            <h3>Rankings</h3>
                <table class="table table-hover">
                    <thead class="table-head">
                        <tr>
                            <td>Company
                            <td>Expected Return
                    <tbody>
                        <tr>
                            <td>Woolworth
                            <td>19%
                        <tr>
                            <td>Coles
                            <td>14%
                        <tr>
                            <td>Walmart
                            <td>11%
                        <tr>
                            <td><a class="link" href=@{RankingsR}>more
                            <td>
    <div class="clear-footer-small">
